<div class="container dashboard">
    <div class="main card"
         ng-if="projectsCtrl.projects.length"
         ng-repeat="project in projectsCtrl.projects">
        <div class="not-edit" ng-if="!project.isEdit">
            <div class="title">{{ project.title }}</div>
            <span ng-click="project.isEdit = true" class="edit-button">
                <i class="fa fa-pencil-square-o"></i>
            </span>

            <div class="project-link" ui-sref="taskboard.project({id: project.id})">
            </div>
        </div>

        <div class="edit" ng-if="project.isEdit">
            <editable model="project" destroy-cb="projectsCtrl.projectDestroyCallback">
            </editable>
        </div>
    </div>

    <div class="empty card" ng-if="!projectsCtrl.projects.length">
        <div class="empty-image">
            <img src="/assets/empty.png" />
        </div>

        <p class="text">
            You weren't have created any projects yet, but it's good that it's easy to fix ;)
        </p>

        <p class="text">
            Just select <b>"Create new project"</b> from user menu
        </p>
    </div>
</div>