<div class="dashboard">
    <div class="main card">
        <div class="not-edit" ng-if="!prjc.project.isEdit">
            <div class="title">{{ prjc.project.title }}</div>

            <span ng-click="prjc.project.isEdit = true" class="edit-button">
                <i class="fa fa-pencil-square-o"></i>
            </span>
        </div>

        <div class="edit" ng-if="prjc.project.isEdit">
            <editable model="prjc.project" destroy-cb="prjc.projectDestroyCallback">
            </editable>
        </div>
    </div>

    <div class="tasks card" ng-if="prjc.tasks.length">
        <div class="task clearfix {{ task.state }}" ng-repeat="task in prjc.tasks">
            <div class="not-edit" ng-if="!task.isEdit">
                <div class="task-state">
                    <div class="custom-checkbox" ng-click="prjc.toggleTask(task)">
                    </div>
                </div>

                <div class="task-title">
                    {{ task.title }}
                </div>

                <div class="task-deadline"
                    ng-if="task.deadline"
                    ng-class="{'expired': prjc.taskExpired(task.deadline)}">
                    {{ prjc.formatTaskDate(task.deadline) }}
                </div>

                <span ng-click="task.isEdit = true" class="edit-button">
                    <i class="fa fa-pencil-square-o"></i>
                </span>

                <div class="task-link" ui-sref="taskboard.task({id: task.id})">
                </div>
            </div>

            <div class="edit" ng-if="task.isEdit">
                <editable model="task" destroy-cb="prjc.taskDestroyCallback">
                </editable>
            </div>
        </div>
    </div>

    <div class="card add-task">
        <form novalidate name="prjc.newTaskForm" ng-submit="prjc.addNewTask()">
            <div class="add-deadline">
                <a ng-click="open = !open"
                   datepicker-popup="yyyy-MM-dd"
                   ng-model="prjc.newTask.deadline"
                   is-open="open"
                   show-button-bar="false">
                  {{ prjc.newTask.deadline ? 'Edit deadline' : 'Add deadline' }}
                </a>
            </div>

            <div class="form-group" has-errors field="title" form="prjc.newTaskForm">
                <label>New task</label>

                <input type="text" name="title" class="form-control" ng-model="prjc.newTask.title" required />

                <show-errors></show-errors>
            </div>

            <button class="btn btn-primary" type="submit" ng-disabled="prjc.newTaskForm.$invalid">
                Add new task
            </button>
        </form>
    </div>
</div>