<div class="edit-mode-directive">
    <form role="form" name="form" ng-submit="update(this.form)" novalidate class="edit-mode-form">
        <div class="form-group" has-errors="title">
            <input type="text" name="title" ng-model="model.title" required class="form-control" />
        </div>
    </form>

    <div class="controls">
        <span ng-click="update(this.form)" class="edit-mode-update-button">
            <i class="fa fa-check"></i>
        </span>

        <span ng-if="hasDeadline"
              ng-click="open = !open"
              datepicker-popup="yyyy-MM-dd"
              ng-model="model.deadline"
              is-open="open"
              show-button-bar="false">
            <i class="fa fa-calendar"></i>
        </span>

        <span ng-click="cancel()">
            <i class="fa fa-times"></i>
        </span>

        <span ng-click="destroy()" class="edit-mode-destroy-button">
            <i class="fa fa-trash-o"></i>
        </span>
    </div>
</div>