<div class="modal-header">
    <h3 class="modal-title">
        Create project
    </h3>
</div>

<div class="modal-body">
    <form role="form" name="pmc.projectNew" novalidate ng-submit="pmc.create()">
        <div class="form-group" has-errors field="title" form="pmc.projectNew">
            <label>Project title</label>

            <input type="text" name="title" ng-model="pmc.project.title" required autofocus class="form-control"/>

            <show-errors form="pmc.projectNew" field="title"></show-errors>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="pmc.create()" ng-disabled="pmc.projectNew.$invalid">Create</button>
    <button class="btn btn-warning" type="button" ng-click="pmc.cancel()">Cancel</button>
</div>
