.comments {
  padding: 0;

  .comment {
    border-bottom: 1px solid #ccc;
    padding: 8px 15px;
    position: relative;

    .comment-created {
      font-size: 12px;
      font-weight: bold;
      margin: 0 0 7px;
    }

    .comment-note {
      margin: 0 0 7px;
    }

    .comment-attachments {
      font-size: 12px;
    }

    .controls {
      position: absolute;
      top: 3px;
      right: 15px;
      z-index: 25;

      .destroy-comment, .edit-comment {
        cursor: pointer;
        font-size: 17px;
      }

      .edit-comment {
        margin: 0 10px 0 0;
      }
    }
  }
}

.add-comment {
  .uploaded-attachments {
    font-size: 12px;

    span {
      color: #29bd00;
    }

    .remove-attachment {
      color: #333;
      margin: 0 0 0 7px;
      position: relative;
      top: 2px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}