.projects-page {
  .project {
    position: relative;
    padding: 15px 20px;
    width: 740px;
    margin: 0 auto 25px;

    .project-title {
      .not-edit {
        .title {
          font-size: 24px;
        }

        .edit-button {
          font-size: 26px;
          position: absolute;
          top: 14px;
          right: 20px;
          cursor: pointer;
        }
      }

      .edit {
        form {
          width: 540px;

          .form-group {
            margin-bottom: 0;
          }
        }

        .controls {
          position: absolute;
          right: 24px;
          top: 12px;
          font-size: 28px;

          span {
            cursor: pointer;
            margin: 0 0 0 20px;
          }
        }
      }
    }
  }
}

.project {

}
