<!DOCTYPE html>
<html ng-app="TodoApp" ng-controller="ApplicationController as app">
<head>
  <title ng-bind="app.Template.getTitle()"></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="{{ app.Template.getBodyClasses() }}">
  <%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
